USE [master]
GO
/****** Object:  Database [TE_GenericProject]    Script Date: 16/12/2025 03:47:21 p. m. ******/
CREATE DATABASE [TE_GenericProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TE_GenericProject', FILENAME = N'M:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TE_GenericProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TE_GenericProject_log', FILENAME = N'L:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\Data\TE_GenericProject_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TE_GenericProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TE_GenericProject]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 16/12/2025 03:47:23 p. m. ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SQLArcExtensionUserRole]    Script Date: 16/12/2025 03:47:23 p. m. ******/
CREATE ROLE [SQLArcExtensionUserRole]
GO
ALTER ROLE [SQLArcExtensionUserRole] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  UserDefinedTableType [dbo].[IdList]    Script Date: 16/12/2025 03:47:23 p. m. ******/
CREATE TYPE [dbo].[IdList] AS TABLE(
	[ID] [int] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  Table [dbo].[CT_Building]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Building](
	[PKBuilding] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[FKSite] [int] NOT NULL,
	[Available] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PKBuilding] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_Roles]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Roles](
	[PKRole] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](20) NULL,
	[Available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PKRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_Site]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Site](
	[PKSite] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](250) NOT NULL,
	[Available] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PKSite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_Users]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Users](
	[PKUser] [int] IDENTITY(1,1) NOT NULL,
	[NTAccount] [varchar](50) NULL,
	[UserName] [varchar](250) NULL,
	[Email] [varchar](150) NULL,
	[FKRole] [int] NULL,
	[Available] [bit] NULL,
	[CreatedBy] [nchar](50) NULL,
	[UpdatedBy] [nchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__CT_Users__593F5E2E7CC5DC87] PRIMARY KEY CLUSTERED 
(
	[PKUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_UserSiteAccess]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_UserSiteAccess](
	[PKAccess] [int] IDENTITY(1,1) NOT NULL,
	[FKUser] [int] NOT NULL,
	[FKSite] [int] NOT NULL,
	[FKRole] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SC_AppScreen]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SC_AppScreen](
	[PKAppScreen] [int] IDENTITY(1,1) NOT NULL,
	[FKParentAppScreen] [int] NOT NULL,
	[Screen] [varchar](200) NOT NULL,
	[Url] [varchar](250) NULL,
	[SortOrder] [int] NOT NULL,
	[Icon] [varchar](30) NOT NULL,
	[FKUser] [int] NOT NULL,
	[Available] [bit] NULL,
 CONSTRAINT [PK__SC_AppSc__03A56E3D8FC5272B] PRIMARY KEY CLUSTERED 
(
	[PKAppScreen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SC_AppScreenRole]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SC_AppScreenRole](
	[PKScreenRoles] [int] IDENTITY(1,1) NOT NULL,
	[FKScreen] [int] NOT NULL,
	[FKRoles] [int] NOT NULL,
 CONSTRAINT [PK__SC_Scree__73A3E28319F6AB5A] PRIMARY KEY CLUSTERED 
(
	[PKScreenRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SY_AppProperties]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SY_AppProperties](
	[PKProperty] [int] NULL,
	[Property] [varchar](50) NULL,
	[Value] [varchar](250) NULL,
	[Available] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_Building] ADD  DEFAULT ((1)) FOR [Available]
GO
ALTER TABLE [dbo].[CT_Building] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CT_Building] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CT_Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_Site] FOREIGN KEY([FKSite])
REFERENCES [dbo].[CT_Site] ([PKSite])
GO
ALTER TABLE [dbo].[CT_Building] CHECK CONSTRAINT [FK_Building_Site]
GO
ALTER TABLE [dbo].[CT_UserSiteAccess]  WITH CHECK ADD  CONSTRAINT [FK_Access_Role] FOREIGN KEY([FKRole])
REFERENCES [dbo].[CT_Roles] ([PKRole])
GO
ALTER TABLE [dbo].[CT_UserSiteAccess] CHECK CONSTRAINT [FK_Access_Role]
GO
ALTER TABLE [dbo].[CT_UserSiteAccess]  WITH CHECK ADD  CONSTRAINT [FK_Access_Site] FOREIGN KEY([FKSite])
REFERENCES [dbo].[CT_Site] ([PKSite])
GO
ALTER TABLE [dbo].[CT_UserSiteAccess] CHECK CONSTRAINT [FK_Access_Site]
GO
ALTER TABLE [dbo].[CT_UserSiteAccess]  WITH CHECK ADD  CONSTRAINT [FK_Access_User] FOREIGN KEY([FKUser])
REFERENCES [dbo].[CT_Users] ([PKUser])
GO
ALTER TABLE [dbo].[CT_UserSiteAccess] CHECK CONSTRAINT [FK_Access_User]
GO
/****** Object:  StoredProcedure [dbo].[up_AddAppScreen]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Add App Screen
-- =============================================
CREATE PROCEDURE [dbo].[up_AddAppScreen]
    -- El C# envía @PKAppScreen, pero es un IDENTITY, así que lo ignoramos en el INSERT
    @PKAppScreen INT, 
    @FKParentAppScreen INT,
    @Screen VARCHAR(200),
    @Url VARCHAR(250),
    @Sortorder INT,
    @Icon VARCHAR(30),
    @FKUser INT,
    @Available BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    -- Insertar el nuevo registro
    INSERT INTO [dbo].[SC_AppScreen] (
        [FKParentAppScreen],
        [Screen],
        [Url],
        [SortOrder],
        [Icon],
        [FKUser],
        [Available] -- Asumimos que los nuevos registros siempre están disponibles
    )
    VALUES (
        @FKParentAppScreen,
        @Screen,
        @Url,
        @Sortorder,
        @Icon,
        @FKUser,
       @Available
    );

    -- Obtener el ID recién creado
    DECLARE @NewPKAppScreen INT = SCOPE_IDENTITY();

    -- Devolver el registro completo, como lo espera tu método AddAsync
    SELECT
        @NewPKAppScreen AS PKAppScreen,
        @FKParentAppScreen AS FKParentAppScreen,
        @Screen AS Screen,
        @Url AS Url,
        @Sortorder AS Sortorder,
        @Icon AS Icon,
        @FKUser AS FKUser,
        1 AS Available;
END
GO
/****** Object:  StoredProcedure [dbo].[up_AddBuilding]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddBuilding]
    @PKBuilding INT = 0,
    @Name NVARCHAR(250) = NULL,
    @Description NVARCHAR(1000) = NULL,
    @FKSite INT = NULL,
    @Available BIT = 1,
    @CreatedBy NVARCHAR(250) = NULL,
    @UpdatedBy NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @PKBuilding IS NULL OR @PKBuilding = 0
    BEGIN
        INSERT INTO dbo.CT_Building (Name, Description, FKSite, Available, CreatedBy, UpdatedBy, CreatedAt, UpdatedAt)
        VALUES (@Name, @Description, @FKSite, @Available, @CreatedBy, @UpdatedBy, GETDATE(), GETDATE());
        SELECT SCOPE_IDENTITY() AS PKBuilding, @Name AS Name, @Description AS Description, @FKSite AS FKSite, @Available AS Available, GETDATE() AS CreatedAt, GETDATE() AS UpdatedAt, @CreatedBy AS CreatedBy, @UpdatedBy AS UpdatedBy;
    END
    ELSE
    BEGIN
        UPDATE dbo.CT_Building SET Name = @Name, Description = @Description, FKSite = @FKSite, Available = @Available, UpdatedBy = @UpdatedBy, UpdatedAt = GETDATE() WHERE PKBuilding = @PKBuilding;
        SELECT @PKBuilding AS PKBuilding, @Name AS Name, @Description AS Description, @FKSite AS FKSite, @Available AS Available, GETDATE() AS CreatedAt, GETDATE() AS UpdatedAt, @CreatedBy AS CreatedBy, @UpdatedBy AS UpdatedBy;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[up_AddSite]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_AddSite]
    @PKSite INT = 0,
    @SiteName NVARCHAR(250) = NULL,
    @Available BIT = 1,
    @CreatedBy NVARCHAR(250) = NULL,
    @UpdatedBy NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @PKSite IS NULL OR @PKSite = 0
    BEGIN
        INSERT INTO dbo.CT_Site (SiteName, Available, CreatedBy, UpdatedBy, CreatedAt, UpdatedAt)
        VALUES (@SiteName, @Available, @CreatedBy, @UpdatedBy, GETDATE(), GETDATE());
        SELECT SCOPE_IDENTITY() AS PKSite, @SiteName AS SiteName, @Available AS Available, GETDATE() AS CreatedAt, GETDATE() AS UpdatedAt, @CreatedBy AS CreatedBy, @UpdatedBy AS UpdatedBy;
    END
    ELSE
    BEGIN
        UPDATE dbo.CT_Site SET SiteName = @SiteName, Available = @Available, UpdatedBy = @UpdatedBy, UpdatedAt = GETDATE() WHERE PKSite = @PKSite;
        SELECT @PKSite AS PKSite, @SiteName AS SiteName, @Available AS Available, GETDATE() AS CreatedAt, GETDATE() AS UpdatedAt, @CreatedBy AS CreatedBy, @UpdatedBy AS UpdatedBy;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[up_AddUser]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Actualizar el SP de CREACIÓN (up_AddUser)
-- Ahora inserta en Users Y en UserSiteAccess
CREATE   PROCEDURE [dbo].[up_AddUser]
    @NTUser NVARCHAR(255),
    @UserName NVARCHAR(255) = NULL, 
    @Email NVARCHAR(255) = NULL,
    @RoleId  INT, 
    @SiteId INT, -- Este sitio será el "Default" o el primero asignado
    @Available BIT,
    @CreatedBy NVARCHAR(255) = ''
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE     
    @NewUserId INT
   
    ;

    BEGIN TRANSACTION;
    BEGIN TRY

       
        -- A. Insertar el Usuario base (Sin sitio ni rol directo)
        INSERT INTO [dbo].[CT_Users]
            ([NTAccount], [UserName], [Email], [Available], [CreatedBy], [CreatedAt])
        VALUES
            (@NTUser, @UserName, @Email, @Available, @CreatedBy, GETUTCDATE());
        
        SET @NewUserId = SCOPE_IDENTITY();

        -- B. Insertar el Acceso en la tabla relacional
        INSERT INTO [dbo].[CT_UserSiteAccess]
            ([FKUser], [FKSite], [FKRole])
        VALUES
            (@NewUserId, @SiteId, @RoleId);

        COMMIT TRANSACTION;

        -- C. Devolver datos combinados (simulando vista plana para tu backend)
        SELECT TOP 1
               U.[PKUser] AS Id
              ,U.[NTAccount] 
              ,U.[UserName]
              ,U.[Email]
              ,A.[FKRole] as RoleId-- RoleId viene de la tabla de acceso
              ,R.[Role] AS Role
              ,A.[FKSite] as SiteId -- SiteId viene de la tabla de acceso
              ,U.[Available]
        FROM [dbo].[CT_Users] U WITH(NOLOCK)
        JOIN [dbo].[CT_UserSiteAccess] A WITH(NOLOCK) ON U.PKUser = A.FKUser
        JOIN [dbo].[CT_Roles] R WITH(NOLOCK) ON A.FKRole = R.PKRole
        WHERE U.[PKUser] = @NewUserId;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT NULL AS Id, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[up_ChgAppScreen]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_ChgAppScreen]
    @PKAppScreen INT,
    @FKParentAppScreen INT,
    @Screen VARCHAR(200),
    @Url VARCHAR(250),
    @Sortorder INT,
    @Icon VARCHAR(30),
    @FKUser INT,
    @Available bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[SC_AppScreen]
    SET
        [FKParentAppScreen] = @FKParentAppScreen,
        [Screen] = @Screen,
        [Url] = @Url,
        [SortOrder] = @Sortorder,
        [Icon] = @Icon,
        [FKUser] = @FKUser,
        [Available] = @Available 
      
    WHERE
        [PKAppScreen] = @PKAppScreen;

    SELECT @PKAppScreen AS PKAppScreen;
END
GO
/****** Object:  StoredProcedure [dbo].[up_ChgBuilding]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_ChgBuilding]
    @PKBuilding INT,
    @Name NVARCHAR(250),
    @Description NVARCHAR(1000),
    @FKSite INT,
    @Available BIT,
    @UpdatedBy NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.CT_Building SET Name = @Name, Description = @Description, FKSite = @FKSite, Available = @Available, UpdatedBy = @UpdatedBy, UpdatedAt = GETDATE() WHERE PKBuilding = @PKBuilding;
    SELECT @PKBuilding AS PKBuilding, 'Updated' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[up_ChgSite]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_ChgSite]
    @PKSite INT,
    @SiteName NVARCHAR(250),
    @Available BIT,
    @UpdatedBy NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.CT_Site SET SiteName = @SiteName, Available = @Available, UpdatedBy = @UpdatedBy, UpdatedAt = GETDATE() WHERE PKSite = @PKSite;
    SELECT @PKSite AS PKSite, 'Updated' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[up_DeleteRol]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco    
-- Create date:  2025-12-09
-- Description:  Delete Role
-- =============================================
CREATE PROCEDURE [dbo].[up_DeleteRol] 
    @PKRole INTEGER
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM 
        [dbo].[CT_Roles]
    WHERE 
        PKRole = @PKRole
END
GO
/****** Object:  StoredProcedure [dbo].[up_DeleteUser]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_DeleteUser] 
    @PKUser            INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM 
        [dbo].[CT_Users]
    WHERE 
        PKUser = @PKUser 
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetAllAppProperties]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Get All System Properties
-- =============================================
CREATE PROCEDURE [dbo].[up_GetAllAppProperties]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        [PKProperty],
        [Property],
        [Value],
        [Available]
    FROM [dbo].[SY_AppProperties] WITH(NOLOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetAllRoles]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Get All Roles
-- =============================================
CREATE PROCEDURE [dbo].[up_GetAllRoles] 
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        CTR.[PKRole] 
        ,CTR.[Role]
        ,CTR.[Available]
     FROM 
        [dbo].[CT_Roles] CTR WITH(NOLOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetAllUsers]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;
  SELECT  [PKUser]  Id
      ,[NTAccount] NTAccount
      ,[UserName] UserName
      ,[Email]
      ,R.Role       
      ,U.[Available]
  FROM [dbo].[CT_Users] U (NOLOCK) 
  left join CT_Roles R  (NOLOCK) on U.FKRole = R.PKRole 
END;
GO
/****** Object:  StoredProcedure [dbo].[up_GetAppScreenById]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_GetAppScreenById]
    @PKAppScreen INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        [PKAppScreen],
        [FKParentAppScreen],
        [Screen],
        [Url],
        [SortOrder],
        [Icon],
        [FKUser],
        [Available]
    FROM
        [dbo].[SC_AppScreen]
    WHERE
        [PKAppScreen] = @PKAppScreen
        AND [Available] = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[Up_GetAppScreenByNtUser]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Get AppScreens By NtUser
-- =============================================
CREATE PROCEDURE [dbo].[Up_GetAppScreenByNtUser] 
    @ntUser varchar(150),
    @SiteId int
AS
BEGIN
    SET NOCOUNT ON;

      SELECT
        [PKAppScreen],
        [FKParentAppScreen],
        [Screen],
        [Url],
        [SortOrder],
        [Icon],
        US.[FKUser],
        A.[Available]
      
    FROM
        [dbo].[SC_AppScreen] A
        inner join SC_AppScreenRole S on A.PKAppScreen = S.FKScreen       
        inner join CT_UserSiteAccess US on S.FKRoles = US.FKRole
         inner join  CT_Users U on U.PKUser = US.FKUser       
   
    WHERE
        U.NTAccount = @ntUser and  A.[Available] = 1 and US.FKSite = @SiteId
    ORDER BY
        [SortOrder], [Screen]; 
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetAppScreenRolesByRoleID]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_GetAppScreenRolesByRoleID]
    @FKRoles INT =  1
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        asr.PKScreenRoles,
        asr.FKScreen,
        asr.FKRoles,
        s.Screen AS ScreenName, 
        s.Url AS ScreenPath      
    FROM 
        dbo.SC_AppScreenRole asr WITH(NOLOCK)
    INNER JOIN 
        dbo.SC_AppScreen s WITH(NOLOCK) ON asr.FKScreen = s.PKAppScreen 
    WHERE 
        asr.FKRoles = @FKRoles;
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetAppScreens]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_GetAppScreens]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
       A. [PKAppScreen],
       A. [FKParentAppScreen],
        ISNULL( B.Screen,'') [ParentScreen],
        A.[Screen],
        A.[Url],
        A.[SortOrder],
        A.[Icon],
        A.[FKUser],
        A.[Available]
    FROM
        [dbo].[SC_AppScreen] A
        LEFT join SC_AppScreen B on A.FKParentAppScreen = B.PKAppScreen
  
    ORDER BY
        [SortOrder], [Screen];
END
GO
/****** Object:  StoredProcedure [dbo].[Up_GetBuildingById]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Up_GetBuildingById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT PKBuilding, Name, Description, FKSite, Available, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy FROM dbo.CT_Building WHERE PKBuilding = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetBuildings]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetBuildings]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT b.PKBuilding, b.Name, b.Description, b.FKSite, b.Available, b.CreatedAt, b.UpdatedAt, b.CreatedBy, b.UpdatedBy FROM dbo.CT_Building b ORDER BY b.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetBuildingsBySite]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetBuildingsBySite]
    @SiteId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT PKBuilding, Name, Description, FKSite, Available, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy FROM dbo.CT_Building WHERE FKSite = @SiteId ORDER BY Name;
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetRoleById]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Get Role By ID
-- =============================================
CREATE PROCEDURE [dbo].[up_GetRoleById] 
    @PKRole INTEGER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        CTR.[PKRole]
        ,CTR.[Role]
        ,CTR.[Available]
    FROM 
        [dbo].[CT_Roles] CTR WITH(NOLOCK)
    WHERE
        PKRole = @PKRole
END
GO
/****** Object:  StoredProcedure [dbo].[Up_GetScreenById]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Torruco
-- Create date: 2025-11-11
-- Description:	Get Screen By Id
-- =============================================
CREATE PROCEDURE [dbo].[Up_GetScreenById] 
	-- Add the parameters for the stored procedure here
	@id int = 0
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 SELECT
        [PKAppScreen],
        [FKParentAppScreen],
        [Screen],
        [Url],
        [SortOrder],
        [Icon],
        [FKUser],
        [Available]
    FROM
        [dbo].[SC_AppScreen]
    WHERE
        PKAppScreen = @id
    ORDER BY
        [SortOrder], [Screen]; -- Es buena práctica tener un orden

END
GO
/****** Object:  StoredProcedure [dbo].[Up_GetSiteById]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Up_GetSiteById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT PKSite, SiteName, Available, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy FROM dbo.CT_Site WHERE PKSite = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetSites]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_GetSites]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT PKSite, SiteName, Available, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy FROM dbo.CT_Site ORDER BY SiteName;
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetUserById]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Actualizar el SP de LECTURA (up_GetUserById)
-- Obtiene el primer sitio que encuentre (para compatibilidad con tu modelo simple)
CREATE   PROCEDURE [dbo].[up_GetUserById]
    @Id INT,
    @SiteId INT = 0
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 
       U.[PKUser] AS Id
      ,U.[NTAccount] 
      ,U.[UserName] 
      ,U.[Email]
      ,A.[FKRole] RoleId
      ,R.[Role] AS RoleName      
      ,A.[FKSite] SiteId
      ,U.[Available]
    FROM [dbo].[CT_Users] U WITH(NOLOCK) 
    LEFT JOIN [dbo].[CT_UserSiteAccess] A WITH(NOLOCK) ON U.PKUser = A.FKUser
    LEFT JOIN [dbo].[CT_Roles] R WITH(NOLOCK) ON A.FKRole = R.PKRole 
    WHERE U.PKUser = @Id and A.FKSite = @SiteId
    ORDER BY A.PKAccess DESC; -- Trae el acceso más reciente o principal
END;
GO
/****** Object:  StoredProcedure [dbo].[up_GetUserByNTUser]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_GetUserByNTUser]
@NTUser varchar(50) = '3524661',
@SiteId int = 0
AS
BEGIN
    SET NOCOUNT ON;
  SELECT  TOP 1 [PKUser]  Id
      ,[NTAccount] NTUser
      ,[UserName] UserName
      ,[Email]
      ,R.Role     
      ,R.PKRole  RoleId
      ,US.FKSite  SiteId
      ,U.[Available]
  FROM [dbo].[CT_Users] U (NOLOCK) 
  inner join CT_UserSiteAccess US (NOLOCK) on U.PKUser = US.FKUser
  left join CT_Roles R  (NOLOCK) on US.FKRole = R.PKRole 
  where NTAccount = @NTUser and (US.FKSite = @SiteId or @SiteId = 0)
END;
GO
/****** Object:  StoredProcedure [dbo].[up_GetUsersBySite]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Modificamos el SP para que REQUIERA el SiteId
CREATE   PROCEDURE [dbo].[up_GetUsersBySite]
    @SiteId INT 
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
       U.[PKUser] AS Id
      ,U.[NTAccount] 
      ,U.[UserName] 
      ,U.[Email]
      ,A.[FKRole] RoleId-- El rol que tiene en ESTE sitio
      ,R.[Role] AS Role      
      ,A.[FKSite] SiteId
      ,U.[Available]
    FROM [dbo].[CT_Users] U WITH(NOLOCK) 
    -- Hacemos INNER JOIN: Si el usuario no tiene acceso a este sitio, NO APARECE.
    INNER JOIN [dbo].[CT_UserSiteAccess] A WITH(NOLOCK) ON U.PKUser = A.FKUser
    LEFT JOIN [dbo].[CT_Roles] R WITH(NOLOCK) ON A.FKRole = R.PKRole 
    WHERE A.FKSite = @SiteId -- ¡Aquí está el filtro mágico!
    ORDER BY U.UserName ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[up_InsertRole]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Insert Role
-- =============================================
CREATE PROCEDURE [dbo].[up_InsertRole]
    @Role VARCHAR(20)
    ,@Available BIT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [dbo].[CT_Roles]
            ([Role]
            ,[Available])
     VALUES 
            (@Role
            ,@Available)
    
    SELECT
            CTR.PKRole        
            ,CTR.Role AS RoleName
            ,CTR.Available
    FROM
            [dbo].[CT_Roles] CTR WITH(NOLOCK)
    WHERE PKRole = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[up_RmvAppScreen]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_RmvAppScreen]
    @PKAppScreen INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[SC_AppScreen]
    SET
        [Available] = 0 -- Soft delete
    WHERE
        [PKAppScreen] = @PKAppScreen;
    SELECT @PKAppScreen AS PKAppScreen;
END
GO
/****** Object:  StoredProcedure [dbo].[up_RmvBuilding]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_RmvBuilding]
    @PKBuilding INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.CT_Building WHERE PKBuilding = @PKBuilding;
    SELECT @PKBuilding AS PKBuilding, 'Deleted' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[up_RmvSite]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[up_RmvSite]
    @PKSite INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.CT_Site WHERE PKSite = @PKSite;
    SELECT @PKSite AS PKSite, 'Deleted' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[up_SyncAppScreenRoles]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- =============================================
CREATE PROCEDURE [dbo].[up_SyncAppScreenRoles]
    @FKRoles INT,
    @ScreenIDs dbo.IdList READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. BORRAR permisos que ya no están
        DELETE ASR
        FROM dbo.SC_AppScreenRole AS ASR
        WHERE ASR.FKRoles = @FKRoles
        AND NOT EXISTS (
            SELECT 1 FROM @ScreenIDs AS S WHERE S.ID = ASR.FKScreen
        );

        -- 2. INSERTAR nuevos permisos
        INSERT INTO dbo.SC_AppScreenRole (FKScreen, FKRoles)
        SELECT 
            S.ID, 
            @FKRoles
        FROM @ScreenIDs AS S
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.SC_AppScreenRole AS ASR WHERE ASR.FKRoles = @FKRoles AND ASR.FKScreen = S.ID
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION;
        THROW; 
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateAppProperty]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Update System Property
-- =============================================
CREATE PROCEDURE [dbo].[up_UpdateAppProperty]
    @Property VARCHAR(50),
    @Value VARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[SY_AppProperties]
    SET [Value] = @Value
    WHERE [Property] = @Property;
END
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateRole]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Kevin Torruco
-- Create date:  2025-12-09
-- Description:  Update Role
-- =============================================
CREATE PROCEDURE [dbo].[up_UpdateRole] 
    @PKRole INTEGER
    ,@Role VARCHAR(20)
    ,@Available BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE CTR
    SET 
        CTR.[Role] = @Role
        ,CTR.[Available] = @Available
    FROM 
        [dbo].[CT_Roles] CTR WITH(NOLOCK)
    WHERE 
        PKRole = @PKRole
END
GO
/****** Object:  StoredProcedure [dbo].[up_UpdateUser]    Script Date: 16/12/2025 03:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Actualizar el SP de UPDATE (up_UpdateUser)
CREATE   PROCEDURE [dbo].[up_UpdateUser] 
    @Id             INT
    ,@NTUser        VARCHAR(50)
    ,@UserName      VARCHAR(250)
    ,@Email         VARCHAR(150)
    ,@RoleId        INT 
    ,@SiteId        INT 
    ,@Available     BIT
    ,@UpdatedBy     VARCHAR(150) ='SYSTEM'
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY
        -- A. Actualizar datos básicos
        UPDATE [dbo].[CT_Users]
        SET 
             [NTAccount]     = @NTUser 
            ,[Email]        = @Email
            ,[UserName]     = @UserName
            ,[Available]    = @Available
            ,[UpdatedAt]    = GETUTCDATE()
            ,[UpdatedBy]   = @UpdatedBy
        WHERE PKUser = @Id;

        -- B. Actualizar el acceso (Estrategia simple: Actualizar si existe, insertar si no)
        -- NOTA: Esto asume que editamos el "acceso principal". 
        IF EXISTS (SELECT 1 FROM CT_UserSiteAccess WHERE FKUser = @Id AND FKSite = @SiteId)
        BEGIN
            UPDATE CT_UserSiteAccess 
            SET FKRole = @RoleId 
            WHERE FKUser = @Id AND FKSite = @SiteId;
        END
        ELSE
        BEGIN
            -- Si cambiaron el sitio en el dropdown, insertamos uno nuevo o actualizamos el existente?
            -- Para mantenerlo simple con tu backend actual, borramos y reinsertamos (reemplazo total)
            DELETE FROM CT_UserSiteAccess WHERE FKUser = @Id;
            INSERT INTO CT_UserSiteAccess (FKUser, FKSite, FKRole) VALUES (@Id, @SiteId, @RoleId);
        END

        COMMIT TRANSACTION;
        SELECT @Id AS Id, 'User Updated Successfully' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @Id AS Id, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
USE [master]
GO
