<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/img/Jabil_Circuit_Logo.png" alt="logo" width="150" height="25">
    </a>
    <div class="header-right">
      <div class="site-group fade-in" *ngIf="selectedSiteName">
        <div class="current-site-badge">
          <span class="site-label">Site:</span>
          <span class="site-value">
            <i class="pi pi-building site-icon"></i>
            {{ selectedSiteName }}
          </span>
        </div>
        
      <button pButton 
              type="button" 
              class="p-button-outlined p-button-secondary p-button-sm change-site-btn" 
              label="Change" 
              icon="pi pi-sync"
              (click)="router.navigate(['/login'])">
      </button>
  </div>

      <div class="head-user-avatar-container">
        <div>
          <!-- cambié el click a onUserButtonClick -->
          <button pButton 
                  type="button" 
                  class="user-info"  
                  (click)="onUserButtonClick(menu, $event)">
            <span class="p-1">
              <i class="fas fa-user pe-2"></i>
              {{ userID }}
              <i class="ps-2 fas fa-chevron-down"></i>
            </span>
          </button>

          <p-tieredMenu #menu 
                        [model]="userMenuItems" 
                        [popup]="true"
                        [autoDisplay]="false"
                        appendTo="body">
          </p-tieredMenu>
        </div>
      </div>
    </div>
  </div>
</nav>

<p-dialog header="User Information" [(visible)]="showUserDialog" [modal]="true" [style]="{ width: '400px' }">
  <div class="p-fluid">
    <div class="p-field">
      <label><strong>User:</strong></label>
      <p>{{ userID }}</p>
    </div>
    <!-- <div class="p-field">
      <label><strong>NtUser:</strong></label>
      <p>{{ userInfo?.NTUser }}</p>
    </div> -->
    <div class="p-field">
      <label><strong>Role:</strong></label>
      <p>{{ userInfo?.Role }}</p>
    </div>
  </div>
  <!-- <p-footer>
    <button pButton type="button" label="Close" class="user-info" icon="pi pi-times" (click)="showUserDialog = false"></button>
  </p-footer> -->
</p-dialog>
