<div class="user-card">
    <shared-generic-title title="App Screen Management" />

</div>

 <div class="user-card">
    <app-generic-menu [menuItems]="menuItems" />

    @if (showSpinner) {
    <div class="spinner-container">
        <p-progressSpinner />
    </div>
    }

    @if (!hideTable() && !showSpinner) {
    <generic-table 
        [theTable]="tableConfig"
        [showDetails]="true" 
        (output)="getModal($event)" 
    />
    }
</div>

<p-dialog 
 [(visible)]="displayMaximizable" 
  *ngIf="displayMaximizable"
  [modal]="true" 
  [style]="{ width: '50vw' }" 
  [maximizable]="true" 
  [draggable]="false" 
  [resizable]="false">
  
  <ng-template pTemplate="header">
    <b>{{ EditAdd() }} App Screen</b>
  </ng-template>

  <generic-form 
    [genericForm]="genericForm" 
 
  />

  </p-dialog>

<p-toast />