.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ajusta la altura según sea necesario */
}
:host {
  display: block;
}

.user-card {
  margin-left: 15%;
  margin-top: 2px;
  margin-right: 15%;  
  shared-generic-title{
    margin-top: 1%;

  }
}